[Unit]
Description=Mirrorbits redirector
After=network.target
ConditionPathExists=/etc/mirrorbits.conf

[Service]
ExecStart=/usr/bin/mirrorbits -D -p /run/mirrorbits/mirrorbits.pid
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=5
KillMode=mixed
KillSignal=QUIT
RuntimeDirectory=mirrorbits
PIDFile=/run/mirrorbits/mirrorbits.pid

[Install]
WantedBy=multi-user.target
